<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Confirmation</title>
<style>

#jawn {
    margin: 10px;
    padding: 20px;
    border: 1px solid #f0f0f0;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    margin-top: 10px;
    color:red;
}
p {
    margin-top: 10px;
    min-height: 80px;
}

</style>

</head>
<body>
  <div id="jawn">
    <h1>Contacted!</h1>
  <p>Thank you for submitting your request. Please check your email or text messages for your tutor, <em>{{ tutor['name'] }}'s</em>, contact and further instructions. They will also recieve a text and email with your contact. Ms. Harrelson will be notified so she can help answer any questions/concenrs you might have. We hope you have a great tutoring session!</p>
</div>


</body>
</html>
