<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Confirmation</title>
</head>
<body>
  <h1>Contacted!</h1>
  <p>Thank you for submitting your request. Please check your email or text messages for your tutor, <em>{{ tutor['name'] }}'s</em>, contact and further instructions. They will also recieve a text and email with your contact. Ms. Harrelson will be notified so she can help answer any questions/concenrs you might have. We hope you have a great tutoring session!</p>
</body>
</html>
