<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tutors Listed</title>
</head>
<style>



html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

     .embedded {
            height: 100%;
            width: 100%;
            border: none; /* Remove iframe border */
        }

    #ok {
        text-align: center;
        vertical-align: middle;
        line-height: 90px; 
    }
</style>
<body>
    <h2 id="ok" >Tutors Listed</h2>
    <iframe src="https://docs.google.com/spreadsheets/d/1LFsGU5VC63-V084TI-kFo-nfRoMjBjSi2fyPZtcHr7A/edit#gid=0" width="100%" class="embedded"></iframe>
</body>
</html>